<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justin Dong Web Developer</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body class="bg-blend-screen bg-gray-200 leading-7 scroll-smooth leading-9 overflow-x-hidden overflow-y-auto no-scrollbar">
  {{{body}}}
<script src="../../js/script.js"></script>
</body>

</html>